body {
	background-image: url('fond_magasin.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    height: 500px;
}

.obj{
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1100px;
    max-height: 1100px;
    top: 60%;
    left: 35%;
}
.coin{
    position: relative;
}
input {
    z-index: auto;
    max-width: 50%;
    clip-path: circle(40%);
    transform: scale(1);
    transition: all .20s;
    cursor: pointer;
    bottom: 67%;
}
input:nth-child(7n + 1) {
    grid-column: 2 / span 2;
}
input:hover {
    z-index: 2;
    transform: scale(1.4);
  }

#i1{
    background-image: url("./../Photos/epee2.jpg");
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 90px;
    height: 90px;
    right: 10%;
    top: 230px;
  }
#i2{
    background-image: url("./../Photos/bouclier1.jpg");
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 90px;
    height: 90px;
    top: 230px;
}
#i3{
    background-image: url("./../Photos/arc.jpg");
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 90px;
    height: 90px;
    left: 10%;
    top: 230px;
}
.bar1{
    width: 700px;
    height: 96px;
    background-image: url("./../Photos/comptoir1.jpg");
    background-repeat: no-repeat;
    background-size: 700px;
    top: 137px;
    margin-left: 180px;
    -moz-box-shadow:    inset 0 0 10px #64461f;
   -webkit-box-shadow: inset 0 0 10px #665233;
    box-shadow:         inset 0 0 10px #312507;
   
}
.bar2{
    height: 90px;
    width: 700px;
    background: saddlebrown;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    margin-top: 137px;
    margin-left: 180px;
}
.msg{
    width: 270px;
    height: 66px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 850px;
    
}
.phrase{
    position: center;
    font-family: "Algerian";
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 7px;
}
.bouton{
    position : center;
    vertical-align: top;
    width: 80px;
    height: 40px;
	font-size: 15px;
    font-family: 'Algerian';
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0 1px 2px rgba(138, 130, 130, 0.25);
    background: rgb(0, 0, 0);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    bottom: 200px;
}
.bouton:hover{
    background-color: saddlebrown;
    font-family: "Algerian";
    color: black;
}
.bouton:active {
    position:relative;
    top:1px; 
}